click
dynaconf
genanki
mlx_whisper
moviepy
numpy
openai
openai_whisper
piper_tts
playsound
pyannote.audio
pyannote.core
pyannote.database
pyannote.metrics
pyannote.pipeline
pydub
simpleaudio
soundfile
SpeechRecognition
torch
