click
dynaconf
genanki
moviepy
numpy
openai
openai_whisper
playsound
pyannote.audio
pyannote.core
pyannote.database
pyannote.metrics
pyannote.pipeline
pydub
simpleaudio
soundfile
SpeechRecognition
torch
pyaudio
#pip install piper-tts --no-deps piper-phonemize-cross onnxruntime numpy
#pip install playsound@git+https://github.com/taconi/playsound