click
dynaconf
genanki
mlx_whisper
moviepy
numpy
openai
openai_whisper
piper_tts
playsound
pyannote.audio
pyannote.core
pyannote.database
pyannote.metrics
pyannote.pipeline
pydub
simpleaudio
soundfile
SpeechRecognition
torch
#On mac the following is required:
#pip install piper-tts --no-deps piper-phonemize-cross onnxruntime numpy
#pip install playsound@git+https://github.com/taconi/playsound